<% if restaurant %>
<img src="http://blogimg.goo.ne.jp/user_image/49/27/f4a8426d7e603314c0a4feda1c956710.jpg" class="sake-img" />
<p class="shopname">[<%= restaurant.name %>]</p>
<div class="color-ball"></div>
<% end %>
